/*  MICROTHEMER STYLES  */


/*= Microtheme ================ */

/** Microtheme >> LblCall **/
div#panel-12-3-1-0 section.origin-widget-button-simple-green {
	font-family: "MS Sans Serif" !important;
	color: rgb(244, 243, 243) !important;
	font-size: 25px !important;
	text-align: center !important;
	background-color: rgba(40, 117, 234, 0.85) !important;
	border-top-color: rgb(51, 51, 51) !important;
	border-right-color: rgb(51, 51, 51) !important;
	border-bottom-color: rgb(51, 51, 51) !important;
	border-left-color: rgb(51, 51, 51) !important;
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	border-top-style: solid !important;
	border-right-style: solid !important;
	border-bottom-style: solid !important;
	border-left-style: solid !important;
	-webkit-border-radius: 3px 3px 3px 3px !important;
	-moz-border-radius: 3px 3px 3px 3px !important;
	border-radius: 3px 3px 3px 3px !important;
}

/** Microtheme >> GioiThieu **/
div#panel-12-3-0-0 span.GioiThieu {
	font-family: 'Roboto' !important;
}

/** Microtheme >> TitleDichVu **/
div#panel-12-2-0-2 h5 {
	font-family: 'Roboto' !important;
}

/** Microtheme >> TittleDichVuTop **/
div#panel-12-2-0-1 h5 {
	font-family: 'Roboto' !important;
}

/** Microtheme >> DesDVTop **/
div#panel-12-2-0-1 p {
	font-family: 'Roboto' !important;
}

/** Microtheme >> DesDV **/
div#panel-12-2-0-2 p {
	font-family: 'Roboto' !important;
}

/** Microtheme >> BoxGioiThieu **/
div#pl-12 div#pg-12-3 {
	font-family: 'Roboto' !important;
	padding-top: 25px !important;
}

/** Microtheme >> Body **/
body {
	font-family: 'Roboto' !important;
}

/** Microtheme >> MainNAV **/
div#sticky_header nav#site-navigation {
	font-family: 'Roboto' !important;
}

/** Microtheme >> Slogan **/
div#panel-12-0-0-0 h2 {
	font-family: 'Roboto' !important;
}

/** Microtheme >> SloganTop **/
div#panel-12-1-0-0 h3 {
	font-family: 'Roboto' !important;
}
